
body{
    background-color:rgb(109, 110, 109);
}

.col-md-6{
    margin-top: 40px;
    
}
.container {
	
	background-color:#00AA9E;
    }
    .card {
        background-color:rgb(209, 230, 228);
        }